# Copy this to .env and fill in your values
S3_BUCKET_NAME=modelhub-models-yourname
AWS_DEFAULT_REGION=us-east-1
# No AWS keys needed if IAM Role is attached to EC2
# For local dev only:
# AWS_ACCESS_KEY_ID=your_key
# AWS_SECRET_ACCESS_KEY=your_secret
